.hintertux-header {
  position: fixed;
}

.header-layout-container {
  align-items: center;
  display: flex;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
@media (prefers-color-scheme: dark) {
  .header-layout-container {
    background: #141414;
  }
}

.header-layout-container a {
  transition: 0.25s;
}

.header-layout-container a:hover {
  background: #EEEEEE;
}
@media (prefers-color-scheme: dark) {
  .header-layout-container a:hover {
    background: #404040;
  }
}


.header-layout-container .logo {
  box-sizing: unset;
  display: block;
  height: 32px;
  padding: 20px;  
}

@media (prefers-color-scheme: dark) {
  .header-layout-container .logo {
    filter: invert();
  }
}


.header-layout-container button {
  margin-right: 10px;
}

.header-layout-container button:last-of-type {
  margin-right: 20px;
}

.header-layout-container .welcome {
  color: #141414;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}
@media (prefers-color-scheme: dark) {
  .header-layout-container .welcome {
    color: #EEEEEE;
  }
}



.loginNav {
  display: inline-block;
  margin-left: 20px;
}

@media screen and (min-width: 720px) {
  .logo, .logoLink {
    display: inline-block;
  }
  .loginAndNav {
    align-items: center;
    display: flex;
    height: 72px;
    overflow: hidden;
  }
}
