$c-amber: #DF9E36;

$c-darkness: #666;
$c-darker: #404040;
$c-darkest: #141414;

$c-lightGrey: #AAAAAA;
$c-lighterGrey: #BBBBBB;
$c-lightestGrey: #CCCCCC;
$c-faint: #E6E6E6;
$c-fainter: #EEEEEE;
$c-faintest: #F1F1F1;
$c-white: #FFFFFF;